<?xml version="1.0" encoding="GBK" ?>    
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">    
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">      
        <!-- 输出日志到文件  每天一个文件 -->  
    	<appender name="test111" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="info"></param>
		<!-- <param name="ImmediateFlush" value="true"></param> -->
		<param name="File" value="/home/lscm/install_back/apache-tomcat-6.0.32/logs/mylogger.log"></param>
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>
	
	<appender name="rootlog" class="com.b5m.util.CustodianDailyRollingFileAppender">
		<param name="Threshold" value="info"></param>
		<param name="File" value="/home/lscm/install_back/apache-tomcat-6.0.32/logs/root.log"></param>
		<param name="DatePattern" value="'.'yyyy-MM-dd"></param>
		<param name="CompressBackups" value="true"></param>
		<param name="MaxNumberOfDays" value="3"></param>
		<param name="Append" value="true"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>

	<logger name="mylogger" additivity="false">
		<level value="debug" />
		<appender-ref ref="test111" />
	</logger>
	
	<root>
		<appender-ref ref="rootlog" />
	</root>
</log4j:configuration>